@{
    ViewData["Title"] = "Documents";
}



<div class="tile is-ancestor" style="margin-left: 15px; margin-right: 15px; margin-top: 10px;">
    <div class="tile is-vertical is-parent is-12">
        <div class="tile">
            <article class="tile is-child notification is-white" style="text-align: center;">
                <p class="subtitle" style="font-family: 'IBM Plex Mono Light'"><strong>Store Or Retrieve Documents!</strong> </p>
                <p class="subtitle" style="font-family: 'IBM Plex Mono Light'">Please Click an Option Below</p>
            </article>
        </div>
    </div>
</div>

<div class="tile is-ancestor" style="margin-top: 15px;">

    <div class="tile is-vertical">
        <div class="tile">
            <div class="tile is-parent">
                <!--- Item 1 --->

                <article class="tile is-child notification is-white" style="text-align: center; visibility:hidden;">
                    <div class="bg-white rounded shadow-sm">
                        <img src=" " style="width: 440px; height: 226px;" class="img-fluid card-img-top">
                        <div class="p-4">
                            <h5 class="text-dark"> </h5>

                            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                                <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold"></span></p>
                               <a asp-controller="Home" asp-action="AddToCart" asp-route-id="" asp-route-name="" asp-route-price="" asp-route-image="" class="badge badge-danger px-3 rounded-pill font-weight-normal" style="color:white">Buy Now With Paypal</a>

                            </div>
                        </div>
                    </div>
                </article>
                <article class="tile is-child notification is-white" style="text-align: center;">
                    <div class="bg-white rounded shadow-sm">
                       
                        <div class="p-4">
                            <h5 class="text-dark"> </h5>

                            <div class="d-flex align-items-center justify-content-between  px-3 py-2 mt-4">
                                <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold"></span></p>
                                <input type="file" name="elementName" style="display:none; " id="pdfFile" />
                                @using (Html.BeginForm("ActionmethodName", "ControllerName", FormMethod.Post, new { id = "formid" }))
                                {
                                    <input type="file" name="file" />
                                    <input type="submit" value="Upload" class="save" id="btnid" />
                                }
                                <button class="button is-primary" onclick="uploadDocuments();" style="margin-right:10px; display:none;" id="uploadDoc">Upload Documents</button>
                                <button class="button is-primary" onclick="storeDocuments();" style="margin-right:10px;" id="chooseFile">Store Documents</button>
                                <button class="button is-primary" onclick="">Retrieve Documents</button>


                            </div>
                        </div>
                    </div>
                </article>
                <article class="tile is-child notification is-white" style="text-align: center; visibility:hidden;">
                    <div class="bg-white rounded shadow-sm">
                        <img src=" " style="width: 440px; height: 226px;" class="img-fluid card-img-top">
                        <div class="p-4">
                            <h5 class="text-dark"> </h5>

                            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                                <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold"></span></p>
                                <a asp-controller="Home" asp-action="AddToCart" asp-route-id="" asp-route-name="" asp-route-price="" asp-route-image="" class="badge badge-danger px-3 rounded-pill font-weight-normal" style="color:white">Buy Now With Paypal</a>

                            </div>
                        </div>
                    </div>
                </article>
                <!--- End --->
                <!--- Item 2 --->
                <!--- End --->
                <!--- Item 4 --->

            </div>
        </div>
    </div>

</div>
<script>

    function storeDocuments() {
        var x = document.getElementById("pdfFile").style.display;

        if (x == 'none')
        {
            document.getElementById("pdfFile").style.display = 'block';
            document.getElementById("uploadDoc").style.display = 'block';
        }
        else
        {
            document.getElementById("pdfFile").style.display = 'none';
            document.getElementById("uploadDoc").style.display = 'none';
        }          
    }

    function uploadDocuments() {
        const fileInput = document.getElementById('pdfFile');
        fileInput.onchange = () => {
            const selectedFile = fileInput.files[0];
            console.log(selectedFile);
        }
    }

</script>