@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> userManager
@{
    //Without Try Catch Error Is Thrown Because User Is Not Logged in when you try to load the page not logged in
    var cUser = await userManager.GetUserAsync(User);
    bool isLogged = false;
    if (cUser == null)
    {
        isLogged = false;
    }
    else
    {
        isLogged = true;
        var Balance = cUser.Balance;
    }

}

<body>
    @{if (isLogged)
        {
            <div class="tile is-ancestor" style="margin-left: 15px; margin-right: 15px; margin-top: 10px;">
                <div class="tile is-vertical is-parent is-12">
                    <div class="tile">
                        <article class="tile is-child notification is-white" style="text-align: center;">
                            <p class="subtitle" style="font-family: 'IBM Plex Mono Light'"><strong>Purchase Tokens to store Documents!</strong> </p>
                            <p class="subtitle" style="font-family: 'IBM Plex Mono Light'">Please Enter an Amount Below</p>
                        </article>
                    </div>
                </div>
            </div>

            <div class="tile is-ancestor">
                <!--First Column-->
                <div class="tile is-parent is-4 is-vertical">
                    <!--Introduction text-->
                </div>
                <div class="tile is-parent is-4 is-vertical">
                    <!--Introduction text-->
                    <article class="tile is-child notification box is-success" style="box-shadow: #000000 0 5px 15px; box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;">
                        <h3> Please Enter a Choosen Amount</h3>
                        <input type="text" name="AmountBox" id="TokenPurchase" multiple />
                    </article>
                </div>
                <div class="tile is-parent is-4 is-vertical">
                    <!--Introduction text-->
                    <article class="tile is-child">
                    </article>
                </div>
                <!--Second Column-->
            </div>

            <div style="text-align: center;">
                <div id="paypal-button-container"></div>
            </div>
        }
        else
        {

            <div class="tile is-ancestor" style="margin-left: 15px; margin-right: 15px; margin-top: 10px;">
                <div class="tile is-vertical is-parent is-12">
                    <div class="tile">
                        <article class="tile is-child notification is-white" style="text-align: center;">
                            <p class="subtitle" style="font-family: 'IBM Plex Mono Light'"><strong>Purchase Log In To Purchase Tokens!</strong> </p>
                        </article>
                    </div>
                </div>
            </div>
        }
    }



</body>

<script src="https://www.paypal.com/sdk/js?client-id=AYUMEewur6ChNqBT-8Rlq1c7PC2QX9rA8rVaUZ3Ntx6i8UQjQdMFgbNarkH9fY5IJ52CYps1pTNpIpyE&currency=GBP" data-sdk-integration-source="button-factory"></script>
<script>
    var TotalAmount;

    function GetAmount() {
        TotalAmount = document.getElementById("TokenPurchase").value;
        return TotalAmount;
    }

    function ClearInputBox() {
        document.getElementById("TokenPurchase").value = "";
    }
    function initPayPalButton() {
        paypal.Buttons({
            style: {
                shape: 'rect',
                color: 'gold',
                layout: 'vertical',
                label: 'paypal'

            },


            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [
                        {

                            reference_id: "documentationChain.ID",
                            description: "documentationchain ID",


                            custom_id: "documentationChainID",
                            amount: {
                                currency_code: "GBP",
                                value: GetAmount(), //Get the Total Of Price From Box
                                breakdown: {
                                    item_total: {
                                        currency_code: "GBP",
                                        value: GetAmount() //Get the Total Of Price From Box
                                    }
                                }
                            },
                            items: [
                                {
                                name: "Tokens",
                                SKU: "TokenID",
                                unit_amount: {
                                    currency_code: "GBP",
                                    value: GetAmount()
                                    },
                                quantity: "1",
                        },
                           ]
                        }
                    ]
                });
            },

            onApprove: function(data, actions) {
                return actions.order.capture().then(function (details) {
                    /*
                    Used initially instead of the invoices to alert the customer
                    alert('Transaction completed by ' + details.payer.name.given_name + '!');

                    console.log(JSON.stringify(details)); (Used for testing to display all the information provided by paypal)
                    */
                    var name = details.payer.name.given_name;
                    var payPalOrderID = details.id;

                    ClearInputBox();
                    var amount = TotalAmount; //if you want to pass an Id parameter
                     $.ajax({
                type: 'POST',
                url: '@Url.Action("AddTokenBalance", "Home")',
                data: {
                    'amount': amount
                }
            });

                });
            },

            onCancel: function(data) {
                //return to cart
            },

            onError: function(err) {
                console.log(err);
            }
        }).render('#paypal-button-container');
    }


    initPayPalButton();
</script>