@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model ErrorHandling

<body>
    <div class="tile is-ancestor" style="margin-left: 15px; margin-right: 15px; margin-top: 10px;">
        <div class="tile is-vertical is-parent is-12">
            <div class="tile">
                <article class="tile is-child notification is-white" style="text-align: center;">
                    <p class="subtitle" style="font-family: 'IBM Plex Mono Light'"><strong>Retrieve Documents!</strong> </p>
                    <p class="subtitle" style="font-family: 'IBM Plex Mono Light'">Please Enter Your Secret Phase Below To Retrieve The Document</p>
                </article>
            </div>
        </div>
    </div>
    <article class="tile is-child notification box" style="box-shadow: #000000 0 5px 15px; box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;">
        <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="DownloadFile">
            <div class="form-group">
                <div class="col-md-10">
                    <h3> Please Enter a Secret Phase</h3>
                    <input type="text" name="SecPhase" multiple />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Upload" />
                </div>
            </div>
        </form>
    </article>

    @if (ViewBag.Error != null)
    {
        <h3 style="color:red">@ViewBag.Error</h3>
    }


</body>


<script>
     function Onclick() {
        var textbox = document.getElementById("SecText").value;

            $.ajax({
                type: 'POST',
                url: '@Url.Action("DownloadFile","Home")',
                data: {
                    'secPhase': textbox
                }
            });

    }
</script>